dash==2.14.1
dash-draggable==0.1.4
google-api-python-client==2.95.0
google-auth==2.22.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
pandas==2.1.0
openpyxl==3.1.2
gunicorn==21.2.0
flask-cors==4.0.0
